**/.rar

API/Imaging/OCR/Captures/*.png

**/__pycache__/

build/
dist/
main.spec
output/

API/Imaging/Screenshots/
Assets/Screenshots/Comparators/Custom/*
Assets/Screenshots/BlueStacks_ScreenShot.png

*.rar